<h1 class="top-logo">Yoin</h1>
<h1 class="top-logo-shadow">Yoin</h1>

<div class="mars"></div>

<div class="top-tanka">
  <div class="top-tanka-line"><span class="tanka-initial">ら</span><span>んだむで</span></div>
  <div class="top-tanka-line"><span class="tanka-initial">で</span><span>た３もじを</span></div>
  <div class="top-tanka-line"><span class="tanka-initial">い</span><span>にしゃるに</span></div>
  <div class="top-tanka-line hide seven"><span class="tanka-initial">ご</span><span>ーしちごーを</span></div>
  <div class="top-tanka-line hide seven"><span class="tanka-initial">つ</span><span>くってあそぼ</span></div>
</div>

<a href="#" class="kwsk">くわしく</a>

<div class="sign-x-in-top">
  <%= link_to new_user_path, class: "sign-x-button-in-top" do %>
    サインアップ
  <% end %>

  <%= link_to new_session_path, class: "sign-x-button-in-top moderate" do %>
    サインイン
  <% end %>
</div>

<script>
</script>