/* ログインやサインアップのエラーも考えなければならない */

#error_explanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin: 20px 0;
}

#error_explanation h5 {
  margin: 6px 0;
}

#error_explanation_in_sign_up ul {
  font-size: 12px;
  width: 300px;
  margin: 0 0 0 50px;
}

#error_explanation_in_edit_profile {
  font-size: 12px;
  width: 300px;
  padding: 0 0 0 50px;
}

#error_explanation_in_create_new {
  font-size: 12px;
  width: 200px;
  margin: 0 75px;
  padding-left: 30px;
}

.sutegana-rule a {
  text-decoration: none;
}

.sutegana-rule-explanation {
  display: none;
}

.sutegana-rule-explanation.open{
  width: 240px;
  height: 170px;
  margin: 0 55px;
  border-radius: 25px;
  background:#fff;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 90px;
}

.sutegana-rule-explanation h6 {
  margin: 20px;
}

.sutegana-rule-explanation p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 12px;
  margin: 5px 0;
}

.sutegana-rule-explanation a {
  font-size: 12px;
  text-decoration: none;
  margin-top: 20px
}