@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:400,700|Reenie+Beanie&display=swap&subset=japanese');

body {
  color: rgba(0, 0, 0, 0.87);
  font-family: 'M PLUS 1p', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: image-url('eberhard-grossgasteiger-382463-unsplash.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.general-container {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 350px;
  min-height: 100vh;
  position: relative;
}

.general-container.dark {
  background-color:rgba(0, 0, 0, 0.87);
}

.notification-footer {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  width: 350px;
  padding: 0 20px;
  max-width: 100%;
  height: 24px;
  position: fixed;
  bottom: 0;
  z-index: 1;
  font-size: 12px;
}
