.header {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  min-width: 100%;
  height: 49px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.search-header input {
  width: 200px; 
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
	background-color:#5e616a;
	border:none;
	border-radius:3px;
  color:#f9f9fa;
  font-size: 12px;
	background-image:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1940306/ico_search.png);
	background-repeat:no-repeat;
	background-position:160px;
	background-size:30px;
}

.search-header input::placeholder {
  color: #f9f9fa;
  text-align: center;
}

.home-header h1{
  font-family: 'Reenie Beanie', cursive;
  display: inline;
  position: relative;
}

.home-header i {
  font-size: 15px;
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.acd-menu-item {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%); 
  text-align: right;
  list-style-type: none;
  font-size: 12px; 
  letter-spacing: 1px;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 90px;
  border-bottom-left-radius: 25px;
  display: none;
}

.acd-menu-item.open {
  display: block;
}

.acd-menu-item li {
  padding:5px 10px;
  border-bottom:1px solid #84b2e0;
}

.acd-menu-item li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.collection-header h5 {
  position: relative;
}

.collection-header p {
  font-size: 10px;
  color: rgba(0,0,0,0.54);
  position: absolute;
  bottom: -9px;
}

.nav-bar {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  max-width: 100%;
  height: 49px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.tab {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  border-radius: 50px;
  padding: 0 18px;
  margin: 0 10px;
  transition: background 0.4s linear;
}

.tab a {
  color: rgba(0, 0, 0, 0.87);
}

.tab p {
  overflow: hidden;
  max-width: 0;
  margin: 0;
}

.tab.active p {
  max-width: 0;
  font-size: 12px;
  margin-left: 10px;
  max-width: 200px;
  transition: max-width 0.4s linear;
}

.tab.active.purple {
  background-color: rgba(91, 55, 183, 0.2);
  color: rgba(91, 55, 183, 1);
}

.tab.active.pink {
  background-color: rgba(201, 55, 157, 0.2);
  color: rgba(201, 55, 157, 1);
}

.tab.active.yellow {
  background-color: rgba(230, 169, 25, 0.2);
  color: rgba(230, 169, 25, 1);
}

.tab.active.teal {
  background-color: rgba(28, 150, 162, 0.2);
  color: rgba(28, 150, 162, 1);
}

.user-header {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);  
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0px;
  width: 350px;
  padding: 0 30px;
  max-width: 100%;
  height: 49px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.user-header p {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}

.user-header a {
  color: rgba(0, 0, 0, 0.87);
}

.relationship-header {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);  
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 350px;
  max-width: 100%;
  height: 49px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.relationship-numbers {
  width: 175px;
  height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.relationship-numbers.active {
  border-bottom: 2px solid blue;
}

.relationship-numbers a {
  text-decoration: none;
  width: 175px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
}