.profile-container {
  width: 320px;
  padding: 0 15px;
  max-width: 100%;
  height: 128px;
  display: flex;
}

.profile-icon-wrapper {
  display: flex;
  align-items: center;
}

.profile-icon {
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 100px;
}

.profile-content {
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20px;
  color: #f9f9fa;
}

.profile-content h6 {
  margin: 10px 0 0;
  font-weight: bold;
}

.profile-content p {
  margin: 5px 0 5px;
  font-size: 12px;
}

.numbers-related-to-user {
  width: 270px;
  margin: 30px 40px;
  max-width: 100%;
  height: 80px;
  
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #f9f9fa;
  border-bottom: 1px solid #f9f9fa;
}

.number-linked-outer {
  display: flex;
  align-items: center;
}

.number-linked {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.number-linked div {
  color: #f9f9fa;
  font-size: 18px;
}

.number-linked p {
  margin: 0;
  color: #f9f9fa;
  font-size: 10px;
}

.button-in-profile-container {
  /* height: 100px; */
}

#button-in-profile {
  width: 200px;
  height: 40px;
  font-size: 12px;
  color: #f9f9fa;
  border: none;
  border-radius: 9px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  cursor: pointer;
}


.relationship-list-outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  margin: 10px 40px;
  border-bottom: 1px solid rgba(0,0,0,0.26);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info a {
  text-decoration: none;
  margin-right: 10px;
  color: #f9f9fa;
}

.user-name-in-relationship {
  font-size: 12px;
}

.profile-icon-link {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}


.relationship-profile-icon {
  border-radius: 50px;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

#button-in-relationship {
  width: 120px;
  height: 30px;
  font-size: 12px;
  color: #f9f9fa;
  border: none;
  border-radius: 9px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  cursor: pointer;
}


.decide-to-update-or-no {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);  
  width: 350px;
  padding: 0px 30px;
  margin: 0;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.decide-to-update-or-no a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  width: 160px;
  cursor: pointer;
}

.decide-to-update-or-no input {
  border: none;
  font-size: 14px;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  padding: 0px;
}

.edit-icon-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.edit-icon-field label {
  background-color: rgba(0, 0, 0, 0);
  color: skyblue;
  font-size: 12px;
  cursor: pointer;
  margin: 20px 30px 0 30px;
  width: 290px;
  display: inline-block;
  text-align: center;
}

.edit-icon-field label input {
  display: none;
}



.icon-preview-img {
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 100px;
}

.edit-profile-field {
  width: 256px;
  margin: 20px 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-profile-field label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #f9f9fa;
}

.edit-profile-field input {
  width: 250px;
  font-size: 14px;
}

.edit-profile-field textarea {
  width: 250px;
  height: 86px;
  font-size: 14px;
}

.edit-details {
  width: 256px;
  margin: 0 47px;
  border-bottom: 1px solid rgba(0,0,0,0.54);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-details a {
  text-decoration: none;
  font-size: 12px;
  color: skyblue;
  cursor: pointer;
  width: 100px;
}

.edit-details-content {
  display: none;
  
}

.edit-details-content.open {
  display: block;
}

.edit-details-content a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 47px;
}

.back-arrow {
  width: 290px;
  margin: 30px 30px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #f9f9fa;
}
.sign-up-title {
  width: 280px;
  margin: 60px 35px 0 35px;
  display: flex;
  flex-direction: column;
}

.sign-up-title h1 {
  margin: 0;
  color: #f9f9fa;
}

.sign-up-field {
  width: 280px;
  margin: 35px 35px 0 35px;
  display: flex;
  flex-direction: column;
  color: #f9f9fa
}

.sign-up-field label {
  font-size: 14px;
}

.sign-up-input {
  border: none;
  outline: 0;
  border-bottom: 1px solid #f9f9fa;
  background: transparent;
  min-width: 100%;
  font-size: 14px;
  color: #f9f9fa;
}

.underline {
  width: 280px;
  height: 2px;
  background: skyBlue;
  transform-origin: center center;
  transform: scaleX(0);
  transition: transform 0.18s ease-out;
}

.sign-up-input:focus + .underline {
  transform: scaleX(1);
}

.sign-up-action {
  width: 280px;
  margin: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9f9fa;
}

.round-shaped-submit {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  color: #f9f9fa;
}

.round-shaped-submit i {
  font-size: 20px;
}

.round-shaped-submit:hover {
  border: 3px solid #667eea;
  background: #f9f9fa;
  color: #667eea;
}

.login-space {
  height: 146px;
  margin: 0;
}

.top-logo {
  font-family: 'Reenie Beanie', cursive;
  font-size: 70px;
  width: 320px;
  padding: 30px 15px 15px 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.top-logo-shadow {
  font-family: 'Reenie Beanie', cursive;
  font-size: 70px;
  width: 320px;
  padding: 30px 15px 15px 15px;
  margin: 0;
  display: flex;
  justify-content: center;
  color: #667eea;
  position: absolute;
  top: 6px;
}

.top-tanka {
  width: 200px;
  /* height: 198px; */
  margin: 0 30px 0 120px;
  position: relative;
}

.top-tanka-line {
  font-size: 14px;
  margin: 13px 0;
  height: 24px;
  display: flex;
  align-items: center;
  color: #f9f9fa;
}

.top-tanka-line.hide {
  display: none;
}

.tanka-initial {
  border: 1px solid #f9f9fa;;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kwsk {
  text-decoration: none;
  font-size: 12px;
  color: skyblue;
}

.kwsk.hide {
  display: none;
}


.mars {
  width: 200px;
  height: 100px;
  -webkit-clip-path: circle(50.0% at 50% 100%);
  clip-path: circle(50.0% at 50% 100%);
  background: #FF3F53;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}

.sign-x-in-top {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-x-button-in-top {
  text-decoration: none;
  font-size: 12px;
  color: #f9f9fa;
  margin: 15px;
  width: 180px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3F4A8C;
}

.sign-x-button-in-top:hover {
  background: #3F4A8C;
  color: #f9f9fa;
  text-decoration: none;
}

.sign-x-button-in-top.moderate {
  color: #3F4A8C;
  background: transparent;
}

.sign-x-button-in-top span {
  display: inline-block;
  text-wrap: nowrap;
  word-break: keep-all;
  width: 150px;
  text-align: center;
  font-size: 12px;
}