.profile-container {
  width: 320px;
  padding: 0 15px;
  max-width: 100%;
  height: 128px;
  display: flex;
}

.profile-icon-wrapper {
  display: flex;
  align-items: center;
}

.profile-icon {
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 100px;
}

.profile-content {
  flex-direction: column;
  align-items: flex-end;
  margin-left: 20px;
}

.profile-content h4 {
  margin: 10px 0 0;
}

.profile-content p {
  margin: 5px 0 5px;
  font-size: 12px;
}

.numbers-related-to-user {
  width: 270px;
  margin: 20px 40px;
  max-width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(0,0,0,0.54);
  border-bottom: 1px solid rgba(0,0,0,0.54);
}

.number-linked-outer {
  display: flex;
  align-items: center;
}

.number-linked {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-linked {
  text-decoration: none;
}

.number-linked div {
  color: rgba(0, 0, 0, 0.87);
  font-size: 18px;
}

.number-linked p {
  margin: 0;
  color: rgba(0,0,0,0.54);
  font-size: 10px;
}

.button-in-profile-container {
  /* height: 100px; */
}

#button-in-profile {
  width: 200px;
  height: 40px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 9px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  cursor: pointer;
}

.relationship-list-outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 270px;
  padding: 10px 40px;
  border-bottom: 1px solid rgba(0,0,0,0.26);
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info a {
  text-decoration: none;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.87);
}

.profile-icon-link {
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

.relationship-profile-icon {
  border-radius: 50px;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

#button-in-relationship {
  width: 120px;
  height: 30px;
  font-size: 12px;
  color: #fff;
  border: none;
  border-radius: 9px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  cursor: pointer;
}

.decide-to-update-or-no {
  /* background-color: rgba(0, 0, 0, 0); */
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);  
  width: 320px;
  padding: 0px 15px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 49px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.decide-to-update-or-no a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.decide-to-update-or-no input {
  border: none;
  font-size: 14px;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  cursor: pointer;
  padding: 0px;
}

.edit-icon-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.edit-icon-field label {
  background-color: rgba(0, 0, 0, 0);
  color: blue;
  font-size: 14px;
  cursor: pointer;
  padding: 20px 30px 0 30px;
  display: inline-block;
}
.edit-icon-field label input {
  display: none;
}

.icon-preview-img {
  border-radius: 50px;
  object-fit: cover;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.7);
  height: 100px;
  width: 100px;
}

.edit-profile-field {
  width: 256px;
  margin: 20px 47px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-profile-field label {
  font-size: 14px;
  margin-bottom: 5px;
}

.edit-profile-field input {
  width: 250px;
  font-size: 14px;
}

.edit-profile-field textarea {
  width: 250px;
  height: 86px;
  font-size: 14px;
}

.edit-details {
  width: 256px;
  margin: 0 47px;
  border-bottom: 1px solid rgba(0,0,0,0.54);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.edit-details a {
  text-decoration: none;
  font-size: 14px;
  color: blue;
}

.edit-details-content {
  display: none;
}

.edit-details-content.open {
  display: block;
}

.edit-details-content a {
  text-decoration: none;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  margin: 0 47px;
}

.back-to-top {
  width: 300px;
  padding: 30px 25px 0 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #fff;
}
.sign-up-title {
  width: 280px;
  padding: 60px 35px 0 35px;
  display: flex;
  flex-direction: column;
}

.sign-up-title h1 {
  margin: 0;
  color: #fff;
}

.sign-up-field {
  width: 280px;
  padding: 35px 35px 0 35px;
  display: flex;
  flex-direction: column;
  color: #fff
}

.sign-up-field label {
  font-size: 14px;
}

.sign-up-input {
  border: none;
  outline: 0;
  border-bottom: 1px solid #fff;
  background: rgba(0, 0, 0, 0);
  min-width: 100%;
}

.underline {
  width: 280px;
  height: 2px;
  background: skyBlue;
  transform-origin: center center;
  transform: scaleX(0);
  transition: transform 0.18s ease-out;
}

.sign-up-input:focus + .underline {
  transform: scaleX(1);
}

.sign-up-action {
  width: 280px;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.round-shaped-submit {
  cursor: pointer;
  border: none;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-image: linear-gradient(to top, #6a85b6 0%, #bac8e0 100%);
  color: #fff;
}

.round-shaped-submit i {
  font-size: 20px;
}

.round-shaped-submit:hover {
  border: 3px solid #667eea;
  background: #fff;
  color: #667eea;
}